header {
  font-size: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 45px;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 2%;
}

img {
  height: 200px;
  width: auto;
}

/* .rickclick {
} */
