header {
  font-size: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 45px;
}

main {
  font-family: "Roboto", sans-serif;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 2%;
  cursor: pointer;
}

img {
  height: 200px;
  width: auto;
}

.close {
  position: absolute;
  top: 40%;
  right: 27%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  font-weight: bold;
  opacity: 0;
  z-index: 3;
  color: white;
  background-color: transparent;
  border: darkgreen;
}

.information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: darkgreen;
  text-align: left;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
  color: white;
  font-size: 12px;
}

@media only screen and (max-width: 900px) {
  .close {
    position: absolute;
    top: 16%;
    right: 27%;
  }

  img {
    height: 120px;
    width: auto;
  }

  header {
    font-size: 15px;
    height: 35px;
  }

  .information {
    height: 55px;
    /* width: auto; */
    font-size: 12px;
    top: 25%;
    padding: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  .close {
    position: absolute;
    top: 26%;
    right: 26%;
  }

  img {
    height: 100px;
    width: auto;
  }

  header {
    font-size: 15px;
    height: 25px;
  }

  .information {
    height: 55px;
    /* width: auto; */
    font-size: 10px;
    top: 35%;
    padding: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .close {
    position: absolute;
    top: 13%;
    right: 27%;
  }

  img {
    height: 65px;
    width: auto;
  }

  header {
    font-size: 15px;
    height: 25px;
  }

  .information {
    height: 25px;
    width: auto;
    font-size: 7px;
    top: 25%;
    padding: 3rem;
  }
}
